---
apiVersion: v1
kind: Namespace
metadata:
  name: flux-system

---
apiVersion: v1
kind: Secret
metadata:
  name: sops-secret
  namespace: flux-system
data:
  AZURE_CLIENT_ID: {{ lookup('env', 'AZURE_CLIENT_ID') | b64encode }}
  AZURE_CLIENT_SECRET: {{ lookup('env', 'AZURE_CLIENT_SECRET') | b64encode }}
  AZURE_TENANT_ID: {{ lookup('env', 'AZURE_TENANT_ID') | b64encode }}

---
apiVersion: v1
kind: Secret
metadata:
  name: azkv-credentials
  namespace: kube-system
data:
  AZURE_CLIENT_ID: {{ lookup('env', 'AZURE_CLIENT_ID') | b64encode }}
  AZURE_CLIENT_SECRET: {{ lookup('env', 'AZURE_CLIENT_SECRET') | b64encode }}
  AZURE_TENANT_ID: {{ lookup('env', 'AZURE_TENANT_ID') | b64encode }}