name: KICS Scan

on:
  pull_request:

jobs:
  kics-job:
    runs-on: ubuntu-latest
    name: kics-action
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Mkdir results-dir
        # make sure results dir is created
        run: mkdir -p results-dir
      - name: Run KICS Scan with SARIF result
        uses: checkmarx/kics-action@63fca4ca72e56edbb5a599ee756e6af1fdb1e785 # v2.1.18
        with:
          path: 'cluster'
          # when provided with a directory on output_path
          # it will generate the specified reports file named 'results.{extension}'
          # in this example it will generate:
          # - results-dir/results.json
          # - results-dir/results.sarif
          output_path: results-dir
          fail_on: critical,high
          platform_type: kubernetes
          output_formats: 'json,sarif'
          exclude_paths: 'cluster/apps/kube-system/,cluster/apps/media/emby/deployment.yaml,cluster/base/flux-system/gotk-components.yaml,cluster/base/flux-system/gotk-patches.yaml,cluster/apps/media/transmission/helm-release.yaml,cluster/apps/system-upgrade/system-upgrade-controller/agent-plan.yaml,cluster/apps/bitwarden/helm-release.yaml'
          exclude_queries: f996f3cb-00fc-480c-8973-8ab04d44a8cc,3ca03a61-3249-4c16-8427-6f8e47dda729,404fde2c-bc4b-4371-9747-7054132ac953,8b36775e-183d-4d46-b0f7-96a6f34a723f
          disable_secrets: true
          verbose: true
      - name: Show results
        if: always()
        run: |
          cat results-dir/results.sarif
          cat results-dir/results.json
      - name: Upload SARIF file
        if: always()
        uses: github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db # v4
        with:
          sarif_file: results-dir/results.sarif
